.bg-task{
    background: #FFFFFF;
    box-shadow: 0 -7px 23px rgba(0, 0, 0, 0.02);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-left: 40px;
    margin-bottom: 20px;
    margin: 0px 35px 20px 35px;
    height: 122px;
}

.task-data{
    display: flex;
    flex-direction: row;
}

.task-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: 25px;
}

.task-text p{
    color: #AEAEB3;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

.task-text h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    margin: 0;
}

.icon{
    background: linear-gradient(177.23deg, #9C2CF3 -13.49%, #3A49F9 109.75%);
    width: 60px;
    height: 60px;
    border-radius: 10px;
    align-self: center;
    margin-left: 34px;
}

.icon img{
    padding: 15px;
}

.menu-icon{
    height: 28px;
    margin: auto;
    margin-right: 35px;
}