.main-login {
    width: 100vw;
    height: calc(100vh - 36vh + 5px);
    background-color: white;
    border-radius: 15px;
    position: fixed;
    left: 0;
    right: 0;
    top: calc(36vh - 15px);
    z-index: 3;
}

.form-login {
    width: 100vw;
    background-color: white;
    border-radius: 15px;
    height: calc(100vh - 36vh + 15px - 13vh);
    position: fixed;
    top: calc(36vh - 15px);
    left: 0;
    right: 0;
    display: flex;
    padding-top: 10vh;
    flex-wrap: wrap;
    animation-duration: 0.5s;
    animation-name: login;
}

.text-welcome {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 3em;
    margin: auto;
    display: flex;
}

.text-welcome p{
    background-color: #2AA5A0;
    background-image: linear-gradient(96.77deg, #9C2CF3 6.68%, #F32CA3 55.12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-welcome b {
    background-image: black;
    background-color: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.text-welcome:hover {
    cursor: default;
}

.input-user {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
    overflow-x:hidden;
}

.input-user input {
    width: 20vw;
    border: none;
    outline: none;
    background: linear-gradient(96.77deg, rgba(156, 44, 243, 0.4) 6.68%, rgba(243, 44, 163, 0.4) 55.12%);
    border-radius: 10px;
    height: 45px;
    margin: 10px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
}

.input-user input::placeholder {
    font-style: italic;
    font-size: medium;
    text-align: center;
    color: rgb(255, 255, 255);
}

/*media screen*/
@media screen and (max-width: 800px) {
    .form-login {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: auto;
        justify-content: center;
        padding-top: 2vh;
    }

    .text-wellcome {
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .input-user input {
        margin: 10px;
        width: 30vw;
    }
}

/*buttons*/
.btn{
    width: 100vw;
}

.btn-login,
.btn-back {
    width: 33vw;
    height: 50px;
    max-width: 300px;
    margin: 20px;
    box-shadow: 17px 26px 25px rgba(226, 226, 226, 0.25);
    border-radius: 75px;
    border: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
}

.btn-login {
    background: linear-gradient(277.09deg, #9C2CF3 -0.05%, #3A49F9 100%);
}

.btn-back {
    background: black;
}

/*animation*/
@keyframes login{
    from{
        top: calc(36vh - 15px);
        left: 300%;
        right: 0;
    }
    to{
        top: calc(36vh - 15px);
        left: 0;
        right: 0;
    }
}