.main-registr {
    width: 100vw;
    height: calc(100vh - 36vh + 5px);
    background-color: white;
    border-radius: 15px;
    position: fixed;
    left: 0;
    right: 0;
    top: calc(36vh - 15px);
    z-index: 3;

}

.form-registr {
    width: 100vw;
    background-color: white;
    border-radius: 15px;
    height: calc(100vh - 36vh + 15px - 13vh);
    position: fixed;
    top: calc(36vh - 15px);
    left: 0;
    right: 0;
    display: flex;
    padding-top: 10vh;
    flex-wrap: wrap;
    animation-duration: 0.6s;
    animation-name: registr;

}

/*main text*/

.text-wellcome {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 3em;
    margin: auto;
    background-color: #2AA5A0;
    background-image: linear-gradient(96.77deg, #9C2CF3 6.68%, #F32CA3 55.12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;

}

.text-wellcome:hover {
    cursor: default;
}


.text-wellcome input,
input {
    padding-left: 3px;
    font-size: medium;
    border: none;
    outline: none;
    background: linear-gradient(96.77deg, rgba(156, 44, 243, 0.4) 6.68%, rgba(243, 44, 163, 0.4) 55.12%);
    border-radius: 10px;
    height: 45px;
    margin: auto;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;

}

input::placeholder {
    font-style: italic;
    font-size: medium;
    text-align: center;
    color: rgb(255, 255, 255);
}

/*password input*/

.input-password {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;

}

#password,
#passwordConfirm {
    margin: 10px;
    width: 20vw;
}

/*for screen <800px*/

@media screen and (max-width: 800px) {
    .form-registr {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: auto;
        padding-top: 2vh;
        justify-content: center;
    }

    .text-wellcome {
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    #password,
    #passwordConfirm {
        margin: 10px;
        width: 30vw;
    }

}

/*Button*/

.btn-signup,
.btn-back {
    width: 30vw;
    max-width: 240px;
    margin: 20px;
    box-shadow: 17px 26px 25px rgba(226, 226, 226, 0.25);
    border-radius: 75px;
    border: none;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
}

.btn-signup {
    background: linear-gradient(277.09deg, #9C2CF3 -0.05%, #3A49F9 100%);
}

.btn-back {
    background-color: black;
}


@keyframes registr{
    from{
        top: calc(36vh - 15px);
        left: 300%;
        right: 0;
    }
    to{
        top: calc(36vh - 15px);
        left: 0;
        right: 0;
    }
}