


.main-home{
    background-color: rgb(233, 233, 233);
    height: 100vh;

}


.main-body{
    width: 100vw;

}


.btn-add{
    width: 100%;
    display: flex;
    justify-content: center;

}
.btn-add button{
    color: rgb(255, 255, 255);
    border: none;
    width: 60px;
    height: auto;
    padding: 4px;
    margin: 10vh 0vh 0vh 0vh;
    background-color: rgb(255, 225, 0);
    font-weight: bolder;
    font-size: medium;
    border-radius: 5px;
    box-shadow: 0 2px 1px 2px rgba(0, 0, 0, 0.252);
    cursor: pointer;
}


