.main-header{
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: row;
    width:calc(100vw - 18vw);
    height:70px;
    top:-100vh;
    left:18vw;
}

.menu{
    display: flex;
    flex-direction: row;
}
