.main-header{
    background-color: white;
    position: fixed;
    display: flex;
    flex-direction: row;
    width:calc(100vw - 18vw);
    height:125px;
    left:18vw;
    top:0;
    justify-content: space-between;
    transition: width 0.3s, left 0.3s;
}

.menu{
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}

.menu button{
    border: none;
    background: none;
    margin: auto;
    padding: 15px 15px 15px 15px;
}

.menu h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: auto;
    padding: 10px 15px 15px 15px;
}

.userInfo{
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.userInfo label{
    align-items: center;
    text-align: right;
    margin-bottom: 5px;
}
.user{
    align-items: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30px;

}
.userName{
    font-weight: 500;
}
.userDescription{
    font-weight: 400;
}
.userAvatar{
    border-radius: 50px;
    width: 57px;
    height: 57px;
    background-color: #757575;
}
.search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 56px 15px 56px;
    padding: 10px;
    height: 58px;
    width: 324px;
    padding-top: 15px;
    background: #f8f7f7;
    border-radius: 18px;
    align-self: center;
}

.search input{
    background: #f8f7f7;
    border: none;
    outline: none;
    margin-left: 15px;
    font-size: 16px;
    color: #757575;
    font-weight: 500;
}
.search input::placeholder{
    font-weight: 500;
}
.search img{
    width: 17px;
    margin-right: 19px;
}

.rightSide{
    display: flex;
    flex-direction: row;
}

.animHeader{
    left: 0;
    width: 100vw
}
