.main-header{
    background-color: white;
    position: fixed;
    display: flex;
    flex-direction: row;
    width:calc(100vw - 18vw);
    height:70px;
    left:18vw;
    top:0;
    justify-content: space-between;
    transition: width 0.3s, left 0.3s;
}

.menu{
    display: flex;
    flex-direction: row;
}

.menu button{
    border: none;
    background: none;
    margin: auto;
    padding: 15px 15px 15px 15px;
}

.menu h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin: auto;
    padding: 10px 15px 15px 15px;
}

.userInfo{
    padding: 18px 15px 15px 15px;
}

.search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
    padding: 10px;
    height: 60%;
    padding-top: 15px;
    background: #f8f7f7;
    border-radius: 18px;
}

.search input{
    background: #f8f7f7;
    border: none;
    outline: none;
}

.search img{
    width: 15px;
}

.rightSide{
    display: flex;
    flex-direction: row;
}

.animHeader{
    left: 0;
    width: 100vw
}
