.header-wellcome {
    background: linear-gradient(177.23deg, #9C2CF3 -13.49%, #3A49F9 109.75%);
    width: 100vw;
    height: 36vh;
    margin: 0;
    position: relative;
    overflow: hidden;

}

.responsive-box {
    position: absolute;
}

.responsive-box.two {
    top: calc((-17vh + -20vw)/2);
    right: 13%;
}

.responsive-box.one {
    top: 13vh;
}
.circle {
    width: 30vw;
    background-color: #2E3A59;
    opacity: 0.15;
    border-radius: 50%;
    z-index: 0;
}

.circle::before {
    content: "";
    display: block;
    padding-top: 100%;
}


@media screen and (max-width: 800px) and (max-height: 1080px){
    .responsive-box.one {
        top: 20vw;
    }
    .responsive-box.two {
        top: -16vw;
        right: 10%;
    }
    .circle{
        width: 43vw !important;
    }
  }
@media screen and (min-width: 2000px) and (min-height: 1400px) {
    .circle{
        max-width: calc(2560px / 3.33);
    }
    .responsive-box.one {
        top: 20vw;
    }
    .responsive-box.two {
        top: -30vw;
        right: 10%;
    }
}