.main-task{
    background-color: white;
    display: flex;
    min-height: 100vh;

}


.workspaceTask{
    margin-left: 18vw;
    margin-top: 70px;
    background: #F9F9F9;
    width: calc(100vw - 18vw);
    height: calc(100vh - 70px);
    border-radius: 38px;
}

.all-todo{
    width: 40%;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: medium;
    height: auto;
    padding: 7px;
    border-radius: 6px;
    text-align: center;
    margin: 7% 30% 5% 30%;
    background-image: linear-gradient(96.77deg, #9C2CF3 6.68%, #F32CA3 55.12%);
    outline: none;
    border: none;
    box-shadow: 0 0 4px rgba(0,0,0,0.25);
}

.border{
    color: rgba(0, 0, 0, 0.401);
    font-weight: bold;
    width: 90%;
    margin: auto;
}

.animWorkspace{
    animation-name: workspace;
    animation-duration: 0.3s;
    margin-left: 0vw;
    width: 100vw;
}
@keyframes workspace{
    from{
        margin-left: 18vw;
        width: calc(100vw - 18vw);
    }
    to{
        margin-left: 0vw;
        width: 100vw;
    }
}
