.main-task{
    background-color: white;
    display: flex;
    min-height: 100vh;
}

.workspaceTask{
    margin-left: 18vw;
    margin-top: 125px;
    background: #F9F9F9;
    width: calc(100vw - 18vw);
    height: calc(100vh - 125px);
    border-radius: 38px;
    transition: margin-left 0.3s, width 0.3s;
    overflow: hidden;
}

.task-space{
    height: 100%;
}

.btn-create{
    background: linear-gradient(277.09deg, #9C2CF3 -0.05%, #3A49F9 100%);
    box-shadow: 17px 26px 25px rgba(226, 226, 226, 0.25);
    border-radius: 75px;
    border: none;
    outline: none;
    padding: 10px 20px 10px 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: white;
    position: relative;
    bottom: -80vh;
    width: 140px;
    left: calc(50% - 70px);
}

.border{
    color: rgba(0, 0, 0, 0.401);
    font-weight: bold;
    width: 90%;
    margin: auto;
}

.animWorkspace{
    margin-left: 0;
    width: 100vw;
}


